version: '3.8'

services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    env_file: ./server/.env
    environment:
      - NODE_ENV=production

  frontend:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - backend
